# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.hprof
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
.widget_preview/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

!**/android/gradle/wrapper/gradle-wrapper.jar
!**/android/gradlew
!**/android/gradlew.bat

# TV Companion
*.apk
!OnePlusTvCompanion.apk
!assets/OnePlusTvCompanion.apk
tv_companion/local.properties
tv_companion/.gradle/
tv_companion/**/build/
!**/tv_companion/gradle/wrapper/gradle-wrapper.jar
!**/tv_companion/gradlew
!**/tv_companion/gradlew.bat
